/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Arial', sans-serif;
    color: #BBA9BB; /* Lila claro */
}

p {
    color: white;
}

em {
    font-style: italic;
    font-weight: bold;
}

/* Barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(230, 157, 251, 0.7); /* Lila con transparencia */
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* Carrusel de imágenes */
.carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    margin-top: 60px; /* Para no tapar la barra */
}

.carousel-item {
    min-width: 100%;
    position: relative;
    transition: transform 1s ease;
}

.carousel-item img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
    color: white;
    padding: 10px;
}

/* Ajustes para móvil */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .carousel-item {
        width: 100%;
    }
}
